version: "3.7"

x-postgresdb-client-env: &postgresdb-client-env
  PG_HOST: ${PG_HOST:-postgres}
  PG_PORT: ${PG_PORT:-5432}
  PG_DB: ${PG_DB:-place_development}
  PG_USER: ${PG_USER:-postgres}
  PG_PASSWORD: ${PG_PASSWORD:-password}

services:
  postgres:
    hostname: postgres
    image: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 30s
      retries: 3
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: place_development
    healthcheck:
      test: /usr/bin/pg_isready
      interval: 5s
    ports:
      - 5432:5432

  # docker-compose exec -it auth2 rake db:create db:migrate
  # docker-compose exec -it auth2 bundle exec rails test
  auth2:
    build: .
    user: root
    ports:
      - "3000:8080"
    hostname: auth
    volumes:
      - ./db:/app/db
      - ./app:/app/app
      - ./test:/app/test
    depends_on:
      - postgres
    environment:
      COAUTH_NO_SSL: "true"
      TZ: $TZ
      PLACE_URI: https://localhost:8443
      <<: *postgresdb-client-env
