
<p>
  The following error was encountered during the authentication flow:<br />
</p>
<p id="message"></p>
<script type="text/javascript">
  const urlParams = new URLSearchParams(window.location.search);
  const myParam = urlParams.get('message');
  document.getElementById("message").innerHTML = myParam;
</script>
